{%extends 'base.html'%}
{%block content%}
<p>JSON returned {{msgs|count}} msgs.</p>
<div id="maillist">
 <div class="msgline thread"><span class="from">From</span>
  <span class="subject">Subject</span>
  <span class="date">Date</span>
  <span class="tag">Tags</span>
  <span>Body</span>
 </div>
{% set row_class = cycler('odd', 'even') %}
{% for (depth,msg) in msgs %}
{%if msg.msg.match %}{%set match=True%}{%else%}{%set match=False%}{%endif%}
<div class="msgline depth{{depth}} {{ row_class.next() }} {%if match %}match{%else%}nomatch{%endif%}">
 <span class="from"><a href="/show/from:{{msg.mailAddress}}">{{msg.realName|truncate(30,True)|e}}</a></span>
 <span class="subject"><a href="/id:{{msg.id|e}}">{{msg.Subject|truncate(40)|e}}</a></span>
 <span class="date">{{msg.get_date('%y-%m-%d %H:%M')}}</span>
 <span class="tag">{%for tag in msg.tags%}<a href="/show/tag:{{tag}}">{{tag|e}}</a>{%if not loop.last %}, {%endif%}{%endfor%}</span>
<span class="body">{{msg.body[0].content|e|replace("\\n","<br/>")|truncate(40)}}</span>
</div>
{% endfor %}
</div>
{%endblock content%}
