.depth0 {padding-left: 0em;}
.depth1 {padding-left: 1em;}
.depth2 {margin-left: 2em;}
.depth3 {margin-left: 3em;}
.depth4 {margin-left: 4em;}
.depth5 {margin-left: 5em;}
.depthgt5 {margin-left: 6em;}

table, tr, td {
    border-width:0px;
    padding: 1px;
    margin:0px;
}

.msgline {
    border: 1px solid gray;
    color: black;}

.even *{
    background-color: #FCEB79;}
.odd *{
    background-color: #BBFABC;}

.nomatch {
    background-color: #CCCCCC;}

.header {
    background-color: #BBFABC;
    padding: 0.5em 1em;
}
.body {
    background-color: #FCFBA9;
    padding: 0.5em 0.5em;
    white-space: pre;
    font-family: mono;
    font-size: 80%
}